body {
	margin: 0 auto;
	background-color: #FF24;
}

div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 200px;
	padding-right: 200px;
}

p {
	padding-top: 50px;
	font-size: 20px;
}

div > p {
	color: #000;
}